.boxer {
  height: 180px;
  position: relative;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
}
.boldText {
  font-weight: 600;
  font-size: large;
  display: inline-flex;
  color: #00ab15;
}
.number {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 30px;
  font-weight: 800;
}
.h2_class {
  letter-spacing: 15px !important;
  font-size: 60px;
}
@media screen and (max-width: 500px) {
  .h2_class {
    font-size: 45px;
  }
}
@media screen and (max-width: 410px) {
  .h2_class {
    font-size: 40px;
  }
}
@media screen and (max-width: 380px) {
  .h2_class {
    font-size: 35px;
  }
}

@media screen and (max-width: 350px) {
    .h2_class {
      font-size: 25px;
    }
  }
  